{% extends "layouts/base.html.twig" %}

{% block title %}Gallery{% endblock %}
{% block head %}
    {{ parent() }}
<script src="/js/rotation.js"></script>
<script>
  $(function() {
    $('#grid li:nth-child(3)').addClass('last');
    $('#grid li').last().addClass('last');
  });
    </script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <ul id="grid">
        {% for cup in cups %}
                <li>
                    <div class="container">
                        <img src="{{ cup.imgBig|e }}" alt="visuel" class="visuel">
                        <img src="{{ cup.imgBig|e }}" alt="visuel" class="visuel_bis">
                        <img src="/img/illus/cache_small.png" alt="cache" class="cache">
                    </div>
                    <a href="{{ url('c4_cup', {id: cup.id}) }}" class="coffee_name">
                        <span>{% if cup.name %}{{ cup.name|e }}{% else %}crosscross{% endif %}</span>
                    </a>
                    <h3 class="creator">
                        Par {% if cup.twitter %}{{ cup.twitter|e }}{% else %}Anonymous{% endif %}
                    </h3>
                </li>
    {% else %}
                <li><em>no cup found</em></li>
    {% endfor %}
            </ul>

            <div class="cta_container make_one">
                <div>
                    <a href="{{ url('homepage') }}" class="cta">Make one !</a>
                </div>
            </div>

            <div id="pager">
                <div>
                    {% if page == 1 %}
                        <span>Page précédente</span>
                    {% else %}
                        <a href="{{ url('c4_gallery', {page: prev}) }}">Page précédente</a>
                    {% endif %}
                </div>
                    
                    <p>
                    {% set prev_2 = prev-2>0?prev-2:1 %}
                    {% set next_2 = next+2<last_page?next+2:last_page %}
                            
                    {% if page > 1 %}
                        {% if prev_2 > 1 %}
                        <a title="première page" href="{{ url('c4_gallery') }}">1</a> ...
                        {% endif %}
                        {% for i in prev_2..prev %}
                        <a title="page {{ i }}" href="{{ url('c4_gallery', {page: i }) }}">{{ i }}</a>
                        {% endfor %}
                    {% endif %}
                        
                        <strong>{{ page }}</strong>
                    {% if page < last_page %}
                        
                        {% for i in next..next_2 %}
                        <a title="page {{ i }}" href="{{ url('c4_gallery', {page: i }) }}">{{ i }}</a>
                        {% endfor %}
                        {% if next_2 < last_page %}
                        ... <a title="dernière page" href="{{ url('c4_gallery', {page: last_page}) }}">{{ last_page }}</a>
                        {% endif %}
                    {% endif %}
                    </p>              

                    {# Page {{ page|e }} sur {{ last_page|e }} #}
                
                <div>
                    {% if page >= last_page %}
                    <span>Page suivante</span>
                    {% else %}
                    <a href="{{ url('c4_gallery', {page: next}) }}">Page suivante</a>
                    
                    {% endif %}
                 </div>
               </div>
            </div>
{% endblock %}

